# Настройка базы данных для Docker
POSTGRES_USER=modsen
POSTGRES_PASSWORD=modsen_pass
POSTGRES_DB=modsen_db

# Подключение Prisma (должно совпадать с данными из блока выше)
DATABASE_URL="postgresql://modsen:modsen_pass@postgres:5432/modsen_db"

# Настройка секретных ключей для JWT токенов
JWT_SECRET=super_secret_key_example
JWT_REFRESH_SECRET=super_secret_refresh_key_example

# Настройка Seed для первого администратора
# Вы можете оставить эти переменные пустыми, тогда по умолчанию создастся:
# Имя: ModsenADM
# Email: modsenemail@gmail.com
# Пароль: 12345678
# (ВАЖНО: если решите вписать свой пароль, сюда нужно вставлять хэш Bcrypt)
SEED_USERNAME=
SEED_EMAIL=
SEED_PASSWORD_HASH=

